#wallet {
page-scan {
    .card {
        width: 98%;
        margin-top: 10px;
        padding : 10px;
        border-radius: 6%;
        border: solid 1px $gray-300;
    }

    .logo {
        padding : 0;

        img {
            height : 35px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 5px;
        }
    }

    .toolbar-ios {
        padding-top: 24px;        
        min-height: 64px;

        ion-title {
            padding: 20px 90px 1px;
        }
    }

    .barcode-wrapper {
        text-align: center;
        padding: 0;
        margin-bottom: 5px;

        svg
        {
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
    }
}
}