<ion-header>
  <ion-navbar color="dark">
    <img src="assets/text-logo.svg" class="app-logo" />

    <ion-buttons end>
      <button ion-button (tap)="navToAdd()">  
        Add Card
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <img src="assets/logo.svg" class="large-app-logo" [hidden]="showCards">

  <ion-list [hidden]="!showCards">
    <ion-grid class="card" *ngFor="let card of cards" [style.background]="card.background" (tap)="navToDetails(card)">
      <ion-row *ngIf="!card.isCustomCard">
        <ion-col class="logo">
          <img [src]="card.logoFullPath" />
        </ion-col>
      </ion-row>

      <ion-row *ngIf="card.isCustomCard" align-items-center>
        <ion-col>
          <ion-label class="card-name">{{card.name}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="barcode-wrapper">
          <barcode [barcodeNumber]="card.barcode.number" [options]="card.barcode.options" [size]="size"></barcode>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-card class="add-card-wrapper" (tap)="navToAdd()">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-icon name="add" class="icon-xlarge"></ion-icon>
          <ion-label class="add-card-lbl">Add Card</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>