#wallet {
    page-home {
        ion-content {
            background: $dark;
        }

        .app-logo { 
            height: 30px;
            // width: 75px;
        }

        .list-ios {
            margin : 0;
        }
 
        .card {
            height: 280px;
            max-height: 280px;
            width: 98%;
            margin-top: 0px;
            margin-bottom: 15px;
            padding : 4%;
            border-radius: 15px;

            .logo {
                padding : 0;
                margin-bottom: 10px;

                img {
                    position: absolute;
                    height : 100%;
                    max-height: 100%;
                    width: 100%;
                    max-width: 100%;
                }
            }

            .barcode-wrapper { 
                    height: 100%;
                    max-height: 100%;
                    width : 100%;
                    max-width: 100%;

                    svg { 
                        height : 100%;
                        max-height: 100%;
                        width : 100%;
                        max-width: 100%;
                        border-radius: 5px;
                    }
            }
        }

        .add-card-wrapper {
            background: $dark;
            text-align: center; 
            padding-top: 60px;
            padding-bottom: 60px;
            border : 1px solid $gray-300;
            border-radius: 8%;
            width : 98%;
            margin : 1%;
            
            ion-icon {
                color: $gray-300;
            }

            ion-label {
                margin: 0;
                color: $gray-300;
            }
        }
}
}
