#wallet {
page-add { 
    .card {
        width: 98%;
        margin-top: 10px;
        padding : 10px;
        border-radius: 6%;
        border: solid 1px $gray-300;
    }

    .logo {
        padding : 0;

        img {
            height : 35px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 5px;
        }
    }

    .toolbar-ios {
        padding-top: 24px;        
        min-height: 64px;

        ion-title {
            padding: 20px 90px 1px;
        }
    }

    .barcode-wrapper {
        text-align: center;
        padding: 0;
        margin-bottom: 5px;

        svg
        {
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
    }

    //Custom sizes to make the bardcode scan icon look good
    [col-10] {
        flex: 0 0 percentage(.85);
        width: percentage(.85);
        // Add a `max-width` to ensure content within each column does not blow out
        // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
        // do not appear to require this.
        max-width: percentage(.85);
    }

    [col-2] {
        flex: 0 0 percentage(.15);
        width: percentage(.15);
        // Add a `max-width` to ensure content within each column does not blow out
        // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
        // do not appear to require this.
        max-width: percentage(.15);
    }

    .barcode-icon {
        height : 45px;
        width : 45px;
        float : right;
    }
}
}