<ion-grid>
    <ion-row>
        <ion-col col-10>
            <ion-item [ngClass]="{'warning': !isExpectedFormat(), 'error': !hasValue()}">
                <ion-label stacked>Card Number</ion-label>
                <ion-input class="card-number-input" type="number" [(ngModel)]="num" (ngModelChange)="numChange.emit($event)"></ion-input>
            </ion-item>
        </ion-col>

        <ion-col col-2 align-self-end no-padding (click)="scanBarcode()">
            <img class="barcode-icon" src="assets/scan_barcode.svg" />
        </ion-col>
    </ion-row>

    <ion-row *ngIf="isInvalid()" class="invalid-lbl">
        <ion-col>
            <ion-label *ngIf="!hasValue()" class="error-lbl">Card Number is required</ion-label>
            <ion-label *ngIf="!isExpectedFormat()" class="warning-lbl">Card Number does not match expected format</ion-label>
        </ion-col>
    </ion-row>
</ion-grid>